<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.TestNG.PriorityTestcase"/>
      <class name="com.TestNG.DependsOnGoups"/>
      <class name="com.TestNG.DependsuponMethod"/>
      <class name="com.TestNG.InvocationCountExample"/>
      <class name="com.TestNG.ParallelEecution1"/>
      <class name="com.TestNG.ParallelExecution"/>
      <class name="com.TestNG.ParallelExecHomewrk"/>
      <class name="com.TestNG.Testcase1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
